@model IEnumerable<travelApp.Models.Viaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Viajes</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
    @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarViaje" id="abrirModal">Agregar Viaje</button> *@

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.Fecha) *@ Fecha y hora
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.IdCiudadNavigation) *@Ciudad
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.IdVehiculoNavigation) *@Vehículo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCiudadNavigation.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.IdTipoNavigation.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="link-danger">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<section class="modal fade" id="modalAgregarViaje" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar viaje</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalBody">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" id="btn-login">Agregar</button>
          </div>
        </div>
      </div>
</section>