@model travelApp.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de que querés eliminar este vehículo?</h3>
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.IdTipoNavigation.Nombre) *@Tipo de vehículo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
